@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000;
    @apply text-text-primary min-h-screen;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    font-weight: bold;
  }
  
  /* Scrollbar personalizada */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #FD7D02 0%, #C40B00 100%);
    border-radius: 9999px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #C40B00 0%, #730100 100%);
  }
}
